*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    height: 100%;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

header{
    width:100%;
    height:20%;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: flex-end;
    
}
.nav_links{

    margin: 10px 0px;
    padding: 5px 10px;
}
.nav_links a{

    margin: 0px 5px;
    color: #333333;

}
.nav_links a:hover{

    text-decoration: underline;
}

.btn_div{
    display: flex;
    margin: 5px 10px;        
    text-align: center;     
    justify-content: center;
    align-items: center; 

}
.btn_div a{    
    color: #fff;
    background:#2b7dfa;
    font-weight: 500;
    width: 90px;
    height: 35px;    
    border-radius: 5px;
    padding: 10px 10px;    
}

.btn_div a:hover{

    box-shadow: -0.5px 0.5px #1374f3;
    background:#2B7DE9;

}
.google_app_btn{
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;    
    margin: 5px 10px;
    border-radius: 100%;
    

}

.google_app_btn:hover{

    background: #eff0f0;
    cursor: pointer;
}

.small_box {

    width: 4px;
    height: 4px;
    background: #5F6368;
    margin: 1px;
    border-radius: 100%;
}

.small_box::before{
    
    content:"";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #5F6368;
    border-radius: 100%;
    left: 10px;  
    

}
.small_box::after{

    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #5F6368;
    border-radius: 100%;
    right: 10px;   


}

a{
    text-decoration: none;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-bottom: 11.2rem;
}
.lang_links{
    display: flex;
    margin: 10px;
    padding: 10px;
}
.lang_links p,.langs{

    padding: 5px;
    margin: 0px 0.5px;
}
.langs:hover{
    text-decoration: underline;
}
.btn{
    background: #F8F9FA;
    padding: 13px;
    margin: 20px 10px;
    border: none; 
    border-radius: 2px;   
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px #DADCE0;
}
form{
    width: 50vw;
    height:100%;   
    
}
.search{
    display:flex;
    justify-content: center;
    width: 80%;    
}
.btn_group{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
.input_group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 40px;
    margin: auto;    
    border: 1px solid lightgray;
    border-radius: 20px;
}
.search_input{
    width:80%;
    padding: 5px;
    border:none;
    outline: none;
}
.google_logo{
    margin: 20px;
}

footer{
    background: #F2F2F2;
    color: gray;
    padding: 10px;
    height:20%;
    width: 100%;
    
}
.footer_up{
    padding: 10px 20px;
    height: fit-content;
    border-bottom: 1px solid rgb(221, 220, 220);    
}
.footer_down{

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_left a, .footer_right a{
    margin: 10px;
    color: gray;
}

.footer_center a{
    color: gray;
}

.footer_center a:hover,
.footer_left a:hover,
.footer_right a:hover{
    text-decoration: underline;
}
.footer_left, 
.footer_right, 
.footer_center{

    margin: 10px 0px;
}

span{
    display: block;
      
    
}
.magnifying_glass{

    position:relative;
    width: 13px;
    height:13px;
    border-radius: 100%;
    border: 2px solid #9AA0A6;
    margin: 0px 4px 4px 10px;    
    
}

.magnifying_glass::before{

    content:"";
    display: inline-block;
    position:absolute;
    width: 2px;
    height:8px;
    background:#9AA0A6;
    transform:rotate(-45deg);
    left: 11px;
    top: 8px;
}
.microphone{
    
    position: relative;
    width:14px;
    height: 10px;
    background: #EA4335;
    border-radius:100%;
    margin: 0px 20px 0px 5px;
}
.microphone::before{
    content: "";
    display: block;    
    position: absolute;
    width: 6px;
    height: 13px;
    background: #4285F4;
    border-radius:5px;
    border:2px solid #fff;
    top: -10px;
    left: 2.2px;
    
}
.microphone::after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 8px;
    background: #34A853;
    border-radius: 3px;    
    top: 5.9px;
    left: 5.25px;
    z-index: -1;
    
}